<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Wax Shelf | <%= title %> | <%= record.title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="min-h-screen bg-slate-950 text-slate-100 flex flex-col sm:flex-row">
    <aside class="bg-slate-900 text-slate-100 sm:w-[250px] sm:flex-none">
        <h1 class="font-bold text-3xl text-indigo-400 m-4 text-center ">
            Wax Shelf
        </h1>
        <nav
            class="grid grid-flow-col gap-4 p-4 justify-content-center  mb-6 sm:justify-content-start sm:grid-flow-row">

            <ul class="flex flex-col gap-2 ">
                <h2 class="font-bold text-xl text-indigo-400">View</h2>
                <a class="text-md hover:font-bold active:font-bold focus:font-bold" href=" /collection">Summary</a>
                <a class="text-md hover:font-bold active:font-bold focus:font-bold"
                    href=" /collection/records">Records</a>
                <a class="text-md hover:font-bold active:font-bold focus:font-bold"
                    href=" /collection/artists">Artists</a>
                <a class="text-md hover:font-bold active:font-bold focus:font-bold"
                    href=" /collection/genres">Genres</a>
            </ul>
            <hr class="bg-indigo-500 h-px  border-0 hidden sm:block">
            <ul class="flex flex-col gap-2 ">
                <h2 class="font-bold text-xl text-indigo-400">Create</h2>

                <a class="text-md hover:font-bold active:font-bold focus:font-bold"
                    href=" /collection/record/create">New
                    Record</a>
                <a class="text-md hover:font-bold active:font-bold focus:font-bold"
                    href=" /collection/artist/create">New
                    Artist</a>
                <a class="text-md hover:font-bold active:font-bold focus:font-bold" href=" /collection/genre/create">New
                    Genre</a>
            </ul>
        </nav>
    </aside>
    <main class="p-4 flex-1 ">
        <h3 class="font-bold text-3xl text-indigo-400">
            <%= title %> | <%=record.title%>
        </h3>
        <section class="p-8 grid gap-4 ">

            <div class="bg-slate-900 p-4 rounded-md text-lg">
                <p class="text-rose-500 font-bold"> Are you sure you want to delete <%=record.title %>?</p>
                <p>Provide the admin delete key to proceed.</p>
            </div>
            <form action="" method="POST" class="bg-slate-900 grid gap-6 m-8 rounded-lg text-lg mx-auto ">
                <fieldset class="flex flex-col m-8 gap-6">
                    <label for="key" class="inline-grid items-center mx-auto gap-4 text-indigo-400 font-semibold ">
                        <p class="text-xl">Admin Delete Key</p>
                        <input id="key" name="key" type="password" value="" required
                            class="bg-slate-700 text-slate-100 py-1 px-2 rounded-md">
                    </label>
                </fieldset>
                <%if (errors) { %>
                    <% errors.forEach((err)=> { %>
                        <p class="text-red-400 mx-auto">
                            <%=err.msg%>
                        </p>
                        <% }) %>
                            <% } %>
                                <button type="submit"
                                    class="inline-flex py-2 px-4 items-center justify-center text-lg font-bold bg-rose-500 rounded-md hover:bg-rose-400">
                                    Delete</button>
            </form>
        </section>
    </main>
</body>

</html>