<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Wax Shelf | <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="/javascripts/menu.js"></script>

</head>

<body class="h-screen relative bg-slate-950 text-slate-100 flex flex-col sm:flex-row">
    <%- include('../partials/navbar') %>
        <main class="p-4 flex-1 relative flex flex-col max-h-full overflow-y-auto sm:blur-0">
            <h3 class="font-bold text-3xl text-indigo-400">
                <%= title %>
            </h3>
            <section class="mx-2 my-4 grid gap-4 overflow-y-auto sm:mx-8 sm:my-8">
                <% artist_list.forEach((artist)=> { %>
                    <a href=<%=artist.url%> class="bg-slate-900 grid p-4 mr-4 rounded-md text-lg hover:bg-slate-800
                        active:bg-slate-800 focus:bg-slate-800 ">
                        <p class="font-bold text-indigo-400">
                            <%=artist.name%>
                        </p>
                    </a>
                    <% }) %>
            </section>
        </main>
</body>

</html>