<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Wax Shelf | <%= title %> | <%= record.title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="/javascripts/menu.js"></script>

</head>

<body class="min-h-screen bg-slate-950 text-slate-100 flex flex-col sm:flex-row">
    <%- include('../partials/navbar') %>
        <main class="p-4 flex-1 flex flex-col justify-between sm:blur-0">
            <h3 class="font-bold text-3xl text-indigo-400">
                <%= title %> | <%=record.title%>
            </h3>

            <section class="p-8  my-auto  ">

                <div class="bg-slate-900 grid gap-8 p-8  mx-auto rounded-md text-lg xl:max-w-6xl lg:grid-cols-2 ">
                    <div class="flex aspect-square my-auto"><img src=<%=record.imgURL ? record.imgURL
                            : '/images/vinyl_icon.svg' %> alt=""
                        class="object-fit rounded-md">
                    </div>
                    <div class=" grid gap-4 auto-rows-min ">
                        <p class="font-bold grid auto-rows-min text-indigo-400 ">
                            Title
                            <span class=" text-slate-100">
                                <%=record.title%>
                            </span>
                        </p>
                        <p class="font-bold grid auto-rows-min text-indigo-400">
                            Artist
                            <a href=<%=record.artist.url%> class="text-slate-100 hover:underline ">
                                <%=record.artist.name%>
                            </a>
                        </p>
                        <p class="font-bold grid auto-rows-min text-indigo-400">
                            Label
                            <span class="text-slate-100">
                                <%=record.label%>
                            </span>
                        </p>
                        <p class="font-bold grid auto-rows-min text-indigo-400">
                            Catalog Number
                            <span class="text-slate-100">
                                <%=record.cat_number%>
                            </span>
                        </p>
                        <p class="font-bold grid auto-rows-min text-indigo-400">
                            Genres
                            <% record.genre.forEach((val,index)=> {%>
                                <a href=<%=val.url%> class="text-slate-100 hover:underline">
                                    <%=val.name%>
                                </a>
                                <% }) %>
                        </p>
                        <p class="font-bold grid auto-rows-min text-indigo-400">
                            Release Date
                            <span class="text-slate-100">
                                <%=record.release_date_formatted%>
                            </span>
                        </p>
                        <p class="font-bold grid auto-rows-min text-indigo-400">
                            Added to Collection
                            <span class="text-slate-100">
                                <%=record.date_acquired_formatted%>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="flex gap-6 max-w-fit mx-auto mt-8  ">
                    <button
                        class="inline-flex py-2  px-2 sm:px-4 items-center text-lg font-bold bg-rose-500 rounded-md hover:bg-rose-400"><a
                            href="<%=record.url%>/delete">Delete Record</a></button>
                    <button
                        class="inline-flex py-2 px-2 sm:px-4 items-center text-lg font-bold bg-sky-500 rounded-md hover:bg-sky-400"><a
                            href="<%=record.url%>/edit">Edit
                            Record</a></button>
                </div>
            </section>
        </main>
</body>

</html>